.Main__massage__list
  .Main__massage__list__info
    .Main__massage__list__info__name
      masa
    .Main__massage__list__info__date
      2019/11/20(Wed)17:43:01
  .Main__massage__list__content
    おはよう